<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <select id="findUser" parameterType="User" resultType="User">
        select
            id,
            username
        from user
        where username = #{username} and password = #{password};
    </select>

    <select id="findUsername" parameterType="User" resultType="User">
        select username
        from user
        where username = #{username};
    </select>

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password) values (#{username}, #{password})
    </insert>

    <insert id="addCartInfo" parameterType="CartInfo" useGeneratedKeys="true" keyProperty="id">
        insert into cart_info (good_id, num) values (#{goodId}, #{goodNum})
    </insert>

    <insert id="addCart" parameterType="Cart" useGeneratedKeys="true" keyProperty="id">
        insert into cart (user_id, cart_info_id) values (#{userId}, #{cartInfoId})
    </insert>

    <select id="getCartInfoIdByUserId" parameterType="Integer" resultType="Integer">
        select cart_info_id
        from cart
        where user_id = #{userId}
    </select>

    <resultMap id="cartItemsRM" type="CartItem">
        <result property="gameNum" column="num"/>
        <result property="game.name" column="name"/>
        <result property="game.stock" column="stock"/>
        <result property="game.price" column="price"/>
        <result property="game.id" column="gamesId"/>
        <result property="itemId" column="cartInfoId"/>
    </resultMap>

    <select id="getCartInfo" parameterType="List" resultMap="cartItemsRM">
        select games.id gamesId,name,stock,price,num,cart_info.id cartInfoId
        from games,cart_info
        where games.id=cart_info.good_id
        and
        cart_info.id in
        <foreach collection="list" item="cartInfoId" open="(" separator="," close=")">
            #{cartInfoId}
        </foreach>
    </select>

    <update id="updateCartInfo" parameterType="List">
        update cart_info
        set num=
        <foreach collection="list" item="item" index="index"
                 separator=" " open="case id" close="end">
            when #{item.id} then #{item.goodNum}
        </foreach>
        where id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <delete id="deleteCartInfo">
        delete from cart_info
        where id = #{cartInfoId}
    </delete>

    <insert id="addContactInfo" parameterType="ContactInfo" useGeneratedKeys="true" keyProperty="id">
        insert into contact_info (name, phone, address, postcode) values (#{name}, #{phone}, #{address}, #{postcode})
    </insert>

    <insert id="addOrderInfo" parameterType="List" useGeneratedKeys="true" keyProperty="itemId">
        insert into order_info (good_id, num)
        value
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.game.id},#{item.gameNum})
        </foreach>
    </insert>

    <insert id="addOrders">
        insert into orders (user_id, order_info_id, contact_info_id)
        value
        <foreach collection="cartItems" separator="," item="item">
            (#{userId},#{item.itemId},#{contactInfoId})
        </foreach>
    </insert>

    <delete id="deleteCartInfos" parameterType="List">
        delete from cart_info
        where id in
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item.itemId}
        </foreach>
    </delete>
</mapper>